button {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1), text-shadow 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  outline: none;
}

button:hover {
  color: #C86BFA;
}

button:focus {
  color: #C86BFA;
  text-shadow: 0 0 5px #C86BFA, 0 0 10px #C86BFA;
}

button.active {
  color: #C86BFA;
  text-shadow: 0 0 5px #C86BFA, 0 0 10px #C86BFA;
}

button.active:focus {
  outline: none; 
}
