/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* About Me Section */
.about-me {
    width: 50%;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #FFD700;
    background-color: rgba(255, 255, 255, 0.1); 
    z-index: 1; 
    position: relative; 
    overflow: auto;
    margin-bottom: 80px; 
}

.about-me h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2; /* Ensure the nav is above other elements */
}

/* Button Styles */
button {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

button:focus,
button:hover {
    color: #C86BFA;
}

button:focus:after,
button:hover:after {
    width: 100%;
    left: 0%;
}

button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #3D0066;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}